@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


$custom-colors: (
  "color-one": #014257,
  "color-two": #0CBEC0,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


.login-page {
  height: 100vh;
  
  .logo {
    max-width: 150px;
    margin: 20px; // Ajusta según sea necesario
  }
  .dog-walker {
    max-width: 90%; // Mejora la responsividad
  }
  .login-form-container {
    width: 100%;
    max-width: 500px; // Considerar aumentar en pantallas grandes
    padding: 20px;
    text-align: center;
    form {
      width: 100%;
      .form-group {
        margin-bottom: 15px;
      }
    }
    .btn {
      width: 100%;
      background-color: map-get($custom-colors, "color-two"); // Usa el color azul claro definido
      color: $white;
      border: none;

      &:hover {
        background-color: darken(map-get($custom-colors, "color-two"), 5%); // Oscurece el color al pasar el mouse
      }
    }
    .forgot-password {
      display: block;
      margin-top: 10px;
      text-decoration: none;
    }
  }
  .form-one {
    max-width: 150px; // Ajusta según sea necesario
  }
 /* @media (max-width: 1920px) {
    .dog-walker {
      max-width: 75%;
    }
    .login-form-container {
      max-width: 400px; // Mayor flexibilidad para pantallas más grandes
    }
    .additional-image {
      max-width: 120px;
    }
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
    .col-md-6 {
      max-width: 100%;
      display: block;
    }
    .additional-image {
      order: -1; // Mueve la imagen adicional al principio
    }
  }*/
}
