@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


$custom-colors: (
  "color-one": #014257,
  "color-two": #0CBEC0,
  "color-three":#f8f9fa,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Estilos personalizados del loguin 
.login-page {
  height: 100vh;
  
  .logo {
    max-width: 240px;
    margin: 20px; 
  }
  .dog-walker {
    max-width: 90%; 
  }
  .login-form-container {
    width: 100%;
    max-width: 500px; // Considerar aumentar en pantallas grandes
    padding: 20px;
    text-align: center;
    form {
      width: 100%;
      .form-group {
        margin-bottom: 15px;
      }
    }
    .btn {
      width: 100%;
      background-color: map-get($custom-colors, "color-two"); 
      color: $white;
      border: none;

      &:hover {
        background-color: darken(map-get($custom-colors, "color-two"), 5%); 
      }
    }
    .forgot-password {
      display: block;
      margin-top: 10px;
      text-decoration: none;
    }
  }
  .form-one {
    max-width: 150px; 
  }
 /* @media (max-width: 1920px) {
    .dog-walker {
      max-width: 75%;
    }
    .login-form-container {
      max-width: 400px; // Mayor flexibilidad para pantallas más grandes
    }
    .additional-image {
      max-width: 120px;
    }
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
    .col-md-6 {
      max-width: 100%;
      display: block;
    }
    .additional-image {
      order: -1; // Mueve la imagen adicional al principio
    }
  }*/
}


//Estilos personalizados del dashboard

.sidebar {
  background-color: map-get($custom-colors, "color-three"); 
  min-height: 100vh;
  padding: 1rem; 
  }

  .logo {
    max-width: 240px;
    margin: 20px; 
  }
  .nav-link {
      color: map-get($custom-colors, "color-one") !important;
      display: flex;
      align-items: center;
      padding:10px;
      border-radius: 5px;

      i {
          margin-right: 10px;
      }

      &:hover {
        background-color: map-get($custom-colors, "color-two");
        color: map-get($custom-colors, "color-one") !important; 
        font-weight: bold;
      }

     
  }

.sidebar .nav-link i {
  margin-right: 0.5rem;
}

.content {
  padding: 2rem;
}

.profile {
  display: flex;
  align-items: center;
}
.profile img {
  border-radius: 50%;
  margin-right: 0.5rem;
}
.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.search-bar {
  width: 300px;
}

// Estilos de la tabla 


table {
  th, td {
    vertical-align: middle;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 0.25rem;
    }
  }
}


// Aplicar estilos a los botones de editar y eliminar
.bi-trash-fill {
  color:map-get($custom-colors, "color-one");//
  border: none; // Opcional: remover borde

}

.bi-trash-fill {
  color:map-get($custom-colors, "color-one");//
  border: none;

  &:hover {
    background-color: darken(map-get($custom-colors, "color-two"), 5%);
  }
}
